<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title><%= @page_title %></title>
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css">
  </head>
  <body>
  	<div id="header">
		  <h1 id="site-title"><a href="/"><%= settings.title %></a></h1>
		  <span id="description"><%= settings.description %></span>
  	</div>
  	<%= flash[:error]; flash[:error] %>
		<%= yield %>
		<div id="footer">
			<% if current_user %>
				<p>Logged in - <a href="/logout">logout</a> - <a href="/post/new">New Post</a></p>
			<% else %>
		  	<p>Powered by <a href="https://github.com/ColbyAley/Pacmara">Pacmara</a> - <a href="/login">Log in</a></p>
		  <% end %>
		</div>
  </body>
</html>