<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title><%= @page_title %></title>
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css">
  </head>
  
  <body>
  	<div id="header">
		  <h1 id="site-title"><a href="/"><%= settings.title %></a></h1>
		  <span id="description"><%= settings.description %></span>
  	</div>
		<%= yield %>
		<div id="footer">
			<% if current_user %>
				<p>Signed in as <%= current_user %> | <a href="/signout">logout</a> | <a href="/post/new">New Post</a></p>
		<% else %>
		  <p><a href="/signin">Sign In</a></p>
		<% end %>
		</div>
  </body>
</html>