<div id="post">
	<h1 id="post-title"><%= @post['title'] %></h1>
	<p id="post-time"><%= @post['formatted_time'] %></p>
	<div class="post-content">
		<%= @post['body'] %>
	</div>
</div>
<% if current_user %>
	<p><a href="/post/<%= @post['slug'] %>/delete">Delete this post.</a> - <a href="/post/<%= @post['slug'] %>/edit">Edit this post.</a></p>
<% elsif settings.enable_twitter_sharing %>
	<p id="post-options">You should <a href="https://twitter.com/aley" class="twitter-follow-button" data-show-count="false">Follow @<%= settings.twitter_username %> </a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> on Twitter and <a href="https://twitter.com/share" class="twitter-share-button" data-via="<%= settings.twitter_username %>" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> this post.</p>
<% end %>

<% if settings.enable_disqus %>
<div id="disqus-thread"></div>
  <script type="text/javascript">
      var disqus_shortname = '<%= settings.disqus_shortname %>'; // Configure this in your app.rb settings

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<% end %>